
<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        {% load static %}
        <meta charset="utf-8">
        {% comment %} <link rel="stylesheet" type="text/css" href="{% static 'appMonty/style.css' %}"> {% endcomment %}
        <link rel="stylesheet" type="text/css" href="{% static 'appMonty/style.css' %}">
        <title></title>
    </head>
    <body>
        <div id="app">
            {% for item in original %}
                <p>
                    {% if forloop.last %} Original Correct:</p>  <p id="originalRight">{{ item.correct }}</p></p> 
                    <p>Original Wrong<p id="originalWrong">{{ item.wrong}} </p></p>
                    {% endif %}

                
            {% endfor %} 

            <div id="gameFace">
                <div id="door1">
                    <p v-on:click='door1'>door</p>
                </div>
                
                <div id="door2">
                        <p v-on:click='door2'>door</p>
                </div>
                
                <div id="door3">
                        <p v-on:click='door3'>door</p>
                </div>
                      {% csrf_token %}
                <button v-on:click="axiosPost">Test</button>
            </div>
        </div>

        <script src="https://unpkg.com/vue@next"></script>

        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script>

            let door1 = document.getElementById('door1')
            let door2 = document.getElementById('door2')
            let door3 = document.getElementById('door3')

            let door1Wins = false
            let door2Wins = false
            let door3Wins = false

            let firstRound = true
            let door = ''

            let winningNum = Math.floor(Math.random() * 3) + 1
            let oneOrTwo = Math.floor(Math.random() * + 2) + 1

            const App = {

                delimiters: ['[[', ']]'],

                data() {
                  return {
                    csrfmiddlewaretoken: '',
                    
                    cat: 'cat',
                    winCount: 0,

                    originalRight: 0,
                    originalWrong: 0,

                    getList: [],
                    lastOriginal: [],
                  }
                },

                methods: {
                    door1(){
                        if (firstRound){
                            if (winningNum == 1){
                                oneOrTwo += 1
                                door = 'door' +oneOrTwo
                                console.log(door)
                                document.getElementById(door).style.visibility = 'hidden'
                                firstRound = false
                                
                            }
                            else if ( winningNum == 2){
                                document.getElementById('door3').style.visibility = 'hidden'
                                firstRound = false
                            }
                            else if (winningNum == 3){
                                document.getElementById('door2').style.visibility = 'hidden'
                                firstRound = false
                            }
                        }
                        else{
                            if (winningNum == 1){
                                alert('you win')
                                this.originalRight = document.getElementById('originalRight')
                                this.originalRight = this.originalRight.innerHTML
                                this.originalRight = parseInt(this.originalRight)
                                this.originalRight = this.originalRight + 1
                                this.axiosPost()

                            }
                            else{
                                alert('you lose')
                                this.originalWrong = document.getElementById('originalWrong')
                                this.originalWrong = this.originalWrong.innerHTML
                                this.originalWrong = parseInt(this.originalWrong)
                                this.originalWrong = this.originalWrong + 1
                                this.axiosPost()
                            }
                        }
                    },
                    door2(){
                        if (firstRound){
                            if (winningNum == 2){
                                if (oneOrTwo == 2){
                    
                                    document.getElementById('door3').style.visibility = 'hidden'
                                    firstRound = false
                                }
                                else{
                                    door = 'door' +oneOrTwo
                                    document.getElementById(door).style.visibility = 'hidden'
                                    firstRound = false
                                }
                            }
                            else if ( winningNum == 1){
                                document.getElementById('door3').style.visibility = 'hidden'
                                firstRound = false
                            }
                            else if (winningNum == 3){
                                document.getElementById('door1').style.visibility = 'hidden'
                                firstRound = false
                            }
                        }
                        else{
                            if (winningNum == 2){
                                alert('you win')
                            }
                            else{
                                alert('you lose')
                            }
                        }
                    },
                    
                    door3(){
                        if (firstRound){ 
                            if (winningNum == 3){
                                door = 'door' +oneOrTwo
                                document.getElementById(door).style.visibility = 'hidden'
                                firstRound = false
                            }
                            else if (winningNum == 2) {
                                document.getElementById('door1').style.visibility = 'hidden'
                                firstRound = false
                            }
                            else  if (winningNum == 1){
                                document.getElementById('door2').style.visibility = 'hidden'
                                firstRound = false
                            }
                        }
                        else{
                            if (winningNum == 3){
                                alert('you win')
                            }
                            else{
                                alert('you lose')
                            }
                        }
                    },

                    oneOrTwo() {
                        return Math.floor(Math.random() * + 2) + 1
                    },
                    
                    winningNum() {
                        return Math.floor(Math.random() * 3) + 1
                    },
                    axiosPost: function() {
                        axios({
                            url: "{% url 'appMonty:frontendpost' %}",
                            method: 'put',
                            data: {
                                changeCorrect: this.originalRight,
                                changedWrong: this.originalWrong,
                            },
                            headers: {
                                'X-CSRFToken': this.csrfmiddlewaretoken
                            }
                          }).then(response => {
                            console.log(response.data, 'cat')
                          })
                      },

                    getData: function() {
                        const myOption = {
                            method: 'GET',
                        };
                        fetch('/get_data', myOption)
                        .then((res) => res.json())
                        .then((res) => {
                            console.log(res.items)
                            this.getList = res.items
                        })
                        .then(() => {
                            // get last item from list and save it
                            let arrLen = this.getList.length - 1
                            this.lastOriginal = this.getList[arrLen]
                            console.log(this.lastOriginal.correct)
                            this.originalRight = this.lastOriginal.correct
                            console.log(this.lastOriginal.wrong)
                            this.originalWrong = this.lastOriginal.wrong
                        })
                    },

                },
                mounted() {
                    console.log(this.oneOrTwo())
                    console.log(door2Wins, 'd2wins')
                    this.csrfmiddlewaretoken = document.querySelector('input[name="csrfmiddlewaretoken"]').value

                    this.getData()
                }
              } 
              Vue.createApp(App).mount('#app')
        </script>
    </body>
</html>