
<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        {% load static %}
        <meta charset="utf-8">
        {% comment %} <link rel="stylesheet" type="text/css" href="{% static 'appMonty/style.css' %}"> {% endcomment %}
        <link rel="stylesheet" type="text/css" href="{% static 'appMonty/style.css' %}">
        <title></title>
    </head>
    <body>
        <div id="app">
            {% comment %} {% for item in original %}
                <p>
                    {% if forloop.last %} Original Correct:</p>  <p id="originalRight">{{ item.correct }}</p></p> 
                    <p>Original Wrong<p id="originalWrong">{{ item.wrong}} </p></p>
                    {% endif %}
            {% endfor %}  {% endcomment %}
            <p id="originalRight">Original Correct: [[originalRight ]]</p>
   
            <p id="originalWrong">Original Wrong: [[originalWrong ]]  </p>
            <p> Original Win: [[originalPercentage]] %</p>
            <br>
            <p>Switched Door Correct: [[ switchedCorrect ]]</p>
            <p>Switched door Wrong: [[ switchedWrong ]]</p>
            <p>Switched Win: [[switchedPercentage]] % </p>
            <div id="gameFace">
                <div id="door1">
                    <p v-on:click='door1'>door</p>
                </div>
                
                <div id="door2">
                        <p v-on:click='door2'>door</p>
                </div>
                
                <div id="door3">
                        <p v-on:click='door3'>door</p>
                </div>
                      {% csrf_token %}
                <button v-on:click="axiosPost">Test</button>
            </div>
        </div>

        <script src="https://unpkg.com/vue@next"></script>

        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script>

            let door1 = document.getElementById('door1')
            let door2 = document.getElementById('door2')
            let door3 = document.getElementById('door3')

            let door1Wins = false
            let door2Wins = false
            let door3Wins = false

            let firstRound = true
            let door = ''

            let winningNum = Math.floor(Math.random() * 3) + 1
            let oneOrTwo = Math.floor(Math.random() * + 2) + 1

            const App = {

                delimiters: ['[[', ']]'],

                data() {
                  return {
                    csrfmiddlewaretoken: '',
                    
                    cat: 'cat',
                    winCount: 0,

                    originalRight: 0,
                    originalWrong: 0,
                    switchedCorrect: 0,
                    switchedWrong: 0,

                    originalPercentage: 0,
                    switchedPercentage: 0,

                    getList: [],
                    lastOriginal: [],

                    firstDoorClick1: false,
                    secondDoorClick1: false,
                    thirdDoorClick1: false,
                  }
                },

                methods: {
                    door1(){
                        if (firstRound){
                            if (winningNum == 1){
                                this.firstDoorClick1 = true
                                oneOrTwo += 1
                                door = 'door' +oneOrTwo
                               
                                document.getElementById(door).style.visibility = 'hidden'
                                firstRound = false
                            }
                            else if ( winningNum == 2){
                                this.firstDoorClick1 = true
                                document.getElementById('door3').style.visibility = 'hidden'
                                firstRound = false
                            }
                            else if (winningNum == 3){
                                this.firstDoorClick1 = true
                                document.getElementById('door2').style.visibility = 'hidden'
                                firstRound = false
                            }
                        }
                        else{
                            // if door 1 wins (no switch)
                            if (winningNum == 1){
                                if (this.firstDoorClick1 == true){
                                    alert('original win')
                                    this.originalRight = this.originalRight + 1
                                    firstRound = false
                                    this.axiosPost()
                                    this.resetGame()
                                    this.firstDoorClick1 = false
                                }
                                //if door 1 wins with switch
                                else{
                                    alert('switched win')
                                    this.switchedCorrect = this.switchedCorrect + 1
                                    firstRound = false
                                    this.axiosPost()
                                    this.resetGame()
                                    this.firstDoorClick1 = false
                                    this.secondDoorClick1 = false
                                    this.thirdDoorClick1 = false
                                }
                            }

                            // if door 1 loses
                            else{
                                // if door 1 loses (no switch)
                                if (this.firstDoorClick1 == true){
                                    alert('original loss')
                                    this.originalWrong = this.originalWrong + 1
                                    firstRound = true
                                    this.axiosPost()
                                    this.resetGame()
                                    this.firstDoorClick1 = false
                                    this.secondDoorClick1 = false
                                    this.thirdDoorClick1 = false
                                }
                                // if door 1 loses with switch
                                else{
                                    alert('switched loss')
                                    this.switchedWrong = this.switchedWrong + 1
                                    firstRound = true
                                    this.axiosPost()
                                    this.resetGame()
                                    this.firstDoorClick1 = false
                                    this.secondDoorClick1 = false
                                    this.thirdDoorClick1 = false
                                }
                            }
                        }
                    },
                    door2(){
                        // round
                        if (firstRound){
                            // alert(winningNum)
                            if (winningNum == 2){
                                if (oneOrTwo == 2){
                                    document.getElementById('door3').style.visibility = 'hidden'
                                    firstRound = false
                                    this.secondDoorClick1 = true
                                }
                                else{
                                    door = 'door' +oneOrTwo
                                    document.getElementById(door).style.visibility = 'hidden'
                                    firstRound = false
                                    this.secondDoorClick1 = true
                                }
                            }
                            else if ( winningNum == 1){
                                document.getElementById('door3').style.visibility = 'hidden'
                                firstRound = false
                                this.secondDoorClick1 = true
                            }
                            else if (winningNum == 3){
                                document.getElementById('door1').style.visibility = 'hidden'
                                firstRound = false
                                this.secondDoorClick1 = true
                            }
                        }
                        // round 2
                        else{
                            // if door 2 wins (no switch)
                        
                            if (winningNum == 2){
                                if (this.secondDoorClick1 == true) {
                                    alert('win no switch')
                                    this.originalRight = this.originalRight + 1
                                    firstRound = true
                                    this.axiosPost()
                                    this.resetGame()
                                    this.firstDoorClick1 = false
                                    this.secondDoorClick1 = false
                                    this.thirdDoorClick1 = false
                                }
                                //if door 2 wins with switch
                                else{
                                    alert('switched win')
                                    this.switchedCorrect = this.switchedCorrect + 1
                                    firstRound = true
                                    this.axiosPost()
                                    this.resetGame()
                                    this.firstDoorClick1 = false
                                    this.secondDoorClick1 = false
                                    this.thirdDoorClick1 = false
                                }
                                
                            }
                            // if door 2 loses
                            else{
                                // if door 2 loses (no switch)
                                if (this.secondDoorClick1 == true){
                                    alert('lose no switch')
                                    firstRound = true
                                    this.resetGame()
                                   
                                    this.originalWrong = this.originalWrong + 1
                                    this.axiosPost()
                                    this.resetGame()
                                    this.secondDoorClick1 = false
                                }
                                // if door 2 loses with switch
                                else{
                                    alert('switched loss')
                                    this.switchedWrong = this.switchedWrong + 1
                                    firstRound = false
                                    this.axiosPost()
                                    this.resetGame()
                                    this.firstDoorClick1 = false
                                    this.secondDoorClick1 = false
                                    this.thirdDoorClick1 = false
                                }
                            }
                        }
                    },
                    
                    door3(){
                        if (firstRound){ 
                            // alert(winningNum)
                            if (winningNum == 3){
                                door = 'door' +oneOrTwo
                                document.getElementById(door).style.visibility = 'hidden'
                                firstRound = false
                                this.thirdDoorClick1 = true
                            }
                            else{
                                door = 'door' + oneOrTwo
                                if (door == 2){
                                    door += 1
                                    document.getElementById(door).style.visibility = 'hidden'
                                    firstRound = false
                                    this.thirdDoorClick1 = true
                                }
                                else{
                                    document.getElementById(door).style.visibility = 'hidden'
                                    firstRound = false
                                    this.thirdDoorClick1 = true
                                }
                            }
                        }
                        // round 2
                        else{
                            // if door 3 wins (no switch)
                            if (winningNum == 3){
                                // alert("winning 3 and made it")
                                if (this.thirdDoorClick1 == true) {
                                    alert('Original Win')
                                    this.originalRight = this.originalRight + 1
                                    firstRound = true
                                    this.axiosPost()
                                    this.resetGame()
                                    this.firstDoorClick1 = false
                                    this.secondDoorClick1 = false
                                    this.thirdDoorClick1 = false
                                }
                                //if door 3 wins with switch
                                else{
                                    alert('Switched win')
                                    
                                    this.switchedCorrect = this.switchedCorrect + 1
                                    firstRound = false
                                    this.axiosPost()
                                    this.resetGame()
                                    this.firstDoorClick1 = false
                                    this.secondDoorClick1 = false
                                    this.thirdDoorClick1 = false
                                }
                                
                            }
                            // if door 2 loses
                            else{
                                // if door 3 loses (no switch)
                                if (this.thirdDoorClick1 == true){
                                    alert('Lose Original')
                                    firstRound = true
                                    this.resetGame()
                                   
                                    this.originalWrong = this.originalWrong + 1
                                    this.axiosPost()
                                    this.resetGame()
                                    this.thirdDoorClick1 = false
                                }
                                // if door 2 loses with switch
                                else{
                                    alert('Loss Switched')
                                    this.switchedWrong = this.switchedWrong + 1
                                    firstRound = false
                                    this.axiosPost()
                                    this.resetGame()
                                    this.firstDoorClick1 = false
                                    this.secondDoorClick1 = false
                                    this.thirdDoorClick1 = false
                                }
                            }
                        }






                    },

                    oneOrTwo() {
                        return Math.floor(Math.random() * + 2) + 1
                    },
                    
                    winningNum() {
                        return Math.floor(Math.random() * 3) + 1
                    },
                    resetGame() {
                        firstRound = true
                        winningNum = Math.floor(Math.random() * 3) + 1
                        oneOrTwo = Math.floor(Math.random() * + 2) + 1
                        document.getElementById('door1').style.visibility = 'visible'
                        document.getElementById('door2').style.visibility = 'visible'
                        document.getElementById('door3').style.visibility = 'visible'
                    },
                    axiosPost: function() {
                        axios({
                            url: "{% url 'appMonty:frontendpost' %}",
                            method: 'put',
                            data: {
                                changeCorrect: this.originalRight,
                                changedWrong: this.originalWrong,
                                switchedCorrect: this.switchedCorrect,
                                switchedWrong: this.switchedWrong,
                            },
                            headers: {
                                'X-CSRFToken': this.csrfmiddlewaretoken
                            }
                          }).then(response => {
                            this.getData()
                          })
                      },

                    getData: function() {
                        const myOption = {
                            method: 'GET',
                        };
                        fetch('/get_data', myOption)
                        .then((res) => res.json())
                        .then((res) => {
                            console.log(res.items)
                            this.getList = res.items
                        })
                        .then(() => {
                            // get last item from list and save it
                            let arrLen = this.getList.length - 1
                            this.lastOriginal = this.getList[arrLen]

                            this.originalRight = this.lastOriginal.correct

                            this.originalWrong = this.lastOriginal.wrong
                           
                            this.switchedCorrect = this.lastOriginal.switchedCorrect
              
                            this.switchedWrong = this.lastOriginal.switchedWrong
                        })
                        .then(() => {
                            let originalPercentagePre = this.originalRight / (this.originalRight + this.originalWrong) 
                            let preFixedOriginal = originalPercentagePre * 100
                            this.originalPercentage = parseFloat(preFixedOriginal).toFixed(2)

                            let switchedPercentagePre = this.switchedCorrect / (this.switchedCorrect + this.switchedWrong) 
                            let preFixed = switchedPercentagePre * 100
                            this.switchedPercentage = parseFloat(preFixed).toFixed(2)
                        })
                    },

                },
                mounted() {
                    console.log(this.oneOrTwo())
                    console.log(door2Wins, 'd2wins')
                    this.csrfmiddlewaretoken = document.querySelector('input[name="csrfmiddlewaretoken"]').value

                    this.getData()
                }
              } 
              Vue.createApp(App).mount('#app')
        </script>
    </body>
</html>