*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

#app{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#gameFace{
    display: flex;
    margin-top: 5rem;
}

#gameFace button {
    margin-left: 1rem;
    margin-right: 1rem;
    border: none;
    background: none;
}

#gameFace button:hover {
    opacity: .5;
}

#door2img, #door1img, #door3img{
    height: 25rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

#zindexSheet{
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: -1;
}