@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

#app{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#gameFace{
    display: flex;
    margin-top: 5rem;
}

#inGameExplanation{
    margin-top: 5rem;
    font-size: 1.5rem;
}

#gameFace button {
    margin-left: 1rem;
    margin-right: 1rem;
    border: none;
    background: none;
}

#gameFace button:hover {
    opacity: .5;
}

#resultsContainer{
 display: flex;
 width: 40rem;
 justify-content: space-between;
}
#resultsContainer h1 {
    color: orange;
}


.itemRow{
    display: flex;
    justify-content: space-between;
}



#door2img, #door1img, #door3img{
    height: 25rem;
    margin-left: 1rem;
    margin-right: 1rem;
}
#door2img:hover, #door1img:hover, #door3img:hover{
    cursor: pointer;
}

#zindexSheet{
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: -1;

}

#preGame{
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 5;
    background: white;
}

#titleContainer{
    display: flex;
    justify-content: center;
    margin-top: 10rem;
    margin-bottom: 2.5rem;
    font-size: 2rem;    
    color: orange;
}

#explanation{
    margin-left: 20vw;
    margin-right: 20vw;
    line-height:1.7rem;
}
#explanation p {
    margin-bottom: 1rem;
}

#preGameBtnContainer{
    display: flex;
    justify-content: center;
}

#preGameBtn{
    background-color: red;
    padding: .5rem 1rem .5rem 1rem ;
    border-radius: 4px;
    color: white;
    border: none;
    font-size: 1rem;
    font-weight: bold;
}

#preGameBtn:hover{
    background: orange;
}

#emph {
    font-weight: bold;
    color: orange;
}
#titleEmph{
    font-weight: bold;
}

#moreAbout{
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    /* text-decoration: none; */
    color: black;
}
#moreAbout:hover{
    color: red;
}

@media (max-width: 1000px) {
    #titleContainer{
        margin-top: 50%;
    }
    #explanation{
        margin-left: 11vw;
        margin-right: 11vw;
        line-height: 1.7rem;
    }
}